In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
data=pd.read_csv("/content/drive/MyDrive/nosql.csv")
data.head()

   Unnamed: 0  adult      budget  ...  video vote_average vote_count
0           0  False  30000000.0  ...  False          7.7     5415.0
1           1  False  65000000.0  ...  False          6.9     2413.0
2           2  False         0.0  ...  False          6.5       92.0
3           3  False  16000000.0  ...  False          6.1       34.0
4           4  False         0.0  ...  False          5.7      173.0

[5 rows x 22 columns]

In [ ]:
data['production_companies'][0]

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [ ]:
pd.isnull(data['production_companies'][0])

False

In [ ]:

listJsonColumns = ['genres','production_companies','production_countries','spoken_languages']

for col in listJsonColumns:
  for i in range(0,len(data[col])):
    if pd.isnull(data[col][i]) == False:
      data[col][i] = eval(data[col][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
data.drop(['Unnamed: 0'], inplace=True, axis=1)
data

       adult      budget  ... vote_average vote_count
0      False  30000000.0  ...          7.7     5415.0
1      False  65000000.0  ...          6.9     2413.0
2      False         0.0  ...          6.5       92.0
3      False  16000000.0  ...          6.1       34.0
4      False         0.0  ...          5.7      173.0
...      ...         ...  ...          ...        ...
45461  False         0.0  ...          4.0        1.0
45462  False         0.0  ...          9.0        3.0
45463  False         0.0  ...          3.8        6.0
45464  False         0.0  ...          0.0        0.0
45465  False         0.0  ...          0.0        0.0

[45466 rows x 21 columns]

saving json files to memory

In [ ]:
data['production_countries'][0]

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [ ]:
data['production_companies'][0]

list

In [ ]:
for i in range(len(data)):
  jsonFileNames = f'/content/drive/MyDrive/NoSql/jsonFileNoSql{i}.json'
  data.iloc[i].to_json(jsonFileNames)

saving json files to database

In [ ]:
import couchdb
import json
import os
#you need http://user:password@localhost:5984
couch = couchdb.Server("http://localhost:5984")
db = couch["movies"]

import glob
for filename in glob.glob('C:/Users/edvin/NoSQLandXML/documentsForNoSql/*.json'):
    with open(os.path.join(os.getcwd(), filename), 'r') as f: # open in readonly mode
        dataDocument = json.loads(f.read())
        db.save(dataDocument)